<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>jym-family</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <style>
        body {
            font-family: "Microsoft YaHei",\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,Helvetica;
        }
        .header{
            color: #fff;
            background-color: #000;
        }
        .header .col-lg-3{
            padding: 5px;
        }
        .content{
            background-color: #f3f4f8;
            padding: 20px;
            margin-top: 10px;
        }
        .content .col-lg-9 ,.content .col-lg-3 ,.content .col-md-3 ,.content .col-md-9{
            padding-right: 0;
            padding-left: 0;
        }
        .left-nav{
            position: relative;
            left: 20px;
            width: 85%;
            color: #000000;
            text-align: center;
            background-color: #ffffff;
            border: 1px solid;
            border-color: #dedede;
            padding-top: 10px;
        }
        .nav > li > a{
            color: #000000;
            padding-right: 10px;
        }
        .nav > li > a:hover {
            color: #ffffff;
            background-color: #db5629;
        }
        .nav > li > h3{
            position: relative;
            top:3px;
            display: inline;
            font-size: 16px;
            font-weight: bold;
        }
        .right-detail {
            width: 95%;
        }
        .right-detail .list-group-item{
            padding-top: 20px;
            padding-left: 51px;
            padding-right: 50px;
        }
        .right-detail h3{
            font-size: 16px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">111</div>
            <div class="col-lg-3">111</div>
        </div>
    </div>
</header>
<div class="content">
    <div class="container">
        <div class="container-fluid" >
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="left-nav">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation"><img src="img/about-ico.jpg" alt=""/><h3>&nbsp;关于金银猫</h3></li>
                            <li class="nav-divider"></li>
                            <li role="presentation"><a href="#">金银猫概况<span class="pull-right">></span></a></li>
                            <li role="presentation"><a href="#">平台价值<span class="pull-right">></span></a></li>
                            <li role="presentation"><a href="#">里程碑<span class="pull-right">></span></a></li>
                            <li role="presentation"><a href="#">安全保障<span class="pull-right">></span></a></li>
                            <li role="presentation"><a href="#">金银e家<span class="pull-right">></span></a></li>
                            <li role="presentation"><a href="#">招贤纳士<span class="pull-right">></span></a></li>
                            <li role="presentation"><a href="#">联系我们<span class="pull-right">></span></a></li>
                            <li class="nav-divider"></li>
                            <li role="presentation"><img src="img/icon2.jpg" alt=""/><h3>&nbsp;喵喵新闻台</h3></li>
                            <li class="nav-divider"></li>
                            <li role="presentation"><a href="#">媒体报道<span class="pull-right">></span></a></li>
                            <li role="presentation"><a href="#">喵喵动态<span class="pull-right">></span></a></li>
                            <li class="nav-divider"></li>
                            <li role="presentation"><img src="img/icon3.jpg" alt=""/><h3>&nbsp;喵喵加油站</h3></li>
                            <li class="nav-divider"></li>
                            <li role="presentation"><a href="#">常见问题<span class="pull-right">></span></a></li>
                            <li role="presentation"><a href="#">新手指南<span class="pull-right">></span></a></li>
                            <li role="presentation"><a href="#">理财小课堂<span class="pull-right">></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="right-detail">
                        <ul class="list-group">
                            <li class="list-group-item "><h3 class="">金银e家</h3></li>
                            <li class="list-group-item ">
                                <p>
                                    金银e家（线下服务点）：金银猫创新的O2O（线上产品线下客户端相结合）模式，满足了社区客户个性化金融服务需求，覆盖了银行等金融机构后台的业务流程，提供理财咨询、金融产品交易和便民服务等功能，充分发挥电子自助化作用，帮助用户更有效、及时地管理、规划并增值其资产。
                                </p>
                                <img class="img-responsive" src="img/20150316045605702.jpg" alt=""/>
                                <p>招商说明：* 有自营金融公司，经营范围如“金融信息服务”、“商务咨询”、“投资管理”等</p>
                                <p>* 经营环境为经济发达、民间借贷旺盛地区</p>
                                <p>* 拥有50㎡～80㎡的固定办公场所，临街铺面， 接近客源和人流密集地段</p>
                                <p>* 熟悉金融行业运作模式，尤其民间借贷、小微企业融资等业务</p>
                                <p>* 核心管理人员具有金融行业从业背景及经验</p>
                                <p>* 有稳定票据资源（地域不限）</p>
                                <p>* 具有一定的流动资金尤佳</p>
                                <img src="img/20150316045719704.jpg" alt=""/>
                                <p>网点分布：
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>